# Environment variables
.env


# Virtual environment
.venv/
.pyven/
__pycache__/
faiss_index/

# VSCode
.vscode/

# IDE and OS files
*.DS_Store
Thumbs.db

# Logs
*.log

# Private keys or configs
*.pem
*.key

#other
.pdf